<main>
  <form [formGroup]="form" class="hut-create" (ngSubmit)="submitHandler()">
    <fieldset>
      <h2>Добави хижа</h2>
      <!-- name -->
      <p *ngIf="!isHutCreated" class="field field-icon">
        <label for="mountainName"><span>Планина</span></label>
        <select name="mountainName" id="mountainName" placeholder="хижа Рилски езера" formControlName="mountain">
          <option value="" disabled>Избери планина</option>
          <option *ngFor="let mountain of mountains" [ngValue]="mountain">{{mountain.name}}</option>
        </select>
      </p>
      <!-- name -->
      <p *ngIf="!isHutCreated" class="field field-icon">
        <label for="name"><span>Име на хижата</span></label>
        <input type="text" name="name" id="name" placeholder="хижа Рилски езера" formControlName="name">
      </p>
      <!-- bedCapacity -->
      <p *ngIf="!isHutCreated" class="field field-icon">
        <label for="bedCapacity"><span>Спални места</span></label>
        <input type="bedCapacity" name="bedCapacity" id="bedCapacity" placeholder="40" formControlName="bedCapacity">
      </p>
      <!-- shortInfo -->
      <p *ngIf="!isHutCreated" class="field field-icon">
        <label for="shortInfo"><span>Кратка информация за хижата</span></label>
        <input type="text" class="long-input" name="shortInfo" id="shortInfo" placeholder="Кратка информация за хижа Рилски езера..." formControlName="shortInfo">
      </p>
      <!-- longInfo -->
      <p *ngIf="!isHutCreated" class="field field-icon">
        <label for="longInfo"><span>Разширена информация за хижата</span></label>
        <input type="text" class="long-input" name="longInfo" id="longInfo" placeholder="Разширена информация за хижа Рилски езера..." formControlName="longInfo">
      </p>
      <!-- image -->
      <p class="field field-icon" *ngIf="isHutCreated">
        <label for="image"><span>Снимка на хижата</span></label>
        <input type="file" (change)="onSelect($event)" name="image" id="image" accept="image/*">
        <button>КАЧИ СНИМКАТА</button>
      </p>
      <p class="button-wrapper">
        <button *ngIf="!isHutCreated" [disabled]="isLoading || !form.valid">ДОБАВИ</button>
      </p>
      <app-loader [isLoading]="isLoading"></app-loader>
    </fieldset>
  </form>
</main>
