<main>
  <section class="availability-form">
    <div class="img-wrapper">
      <h1>{{hutName}}</h1>
      <img src="/assets/images/huts/{{hutId}}.jpg">
    </div>
    <form [formGroup]="form" (ngSubmit)="submitHandler()">
      <div class="form-group">
        <label for="checkin-date">Дата на пристигане</label>
        <input type="date" name="checkinDate" id="checkin-date" formControlName="checkinDate">
      </div>
      <div class="form-group">
        <label for="checkout-date">Дата на напускане</label>
        <input type="date" name="checkoutDate" id="checkout-date" formControlName="checkoutDate">
      </div>
      <div class="form-group">
        <label for="people-count">Брой хора</label>
        <input type="number" name="peopleCount" value="1" step="1" min="1" id="people-count" formControlName="peopleCount">
      </div>
      <button [disabled]="form.invalid">ПРОВЕРИ НАЛИЧНОСТ</button>
    </form>
    <p *ngIf="form.get('checkinDate').touched && form.get('checkoutDate').touched && form.get('checkoutDate').errors?.datesValidator" class="error">
      Датата на напускане трябва да е по-късна от датата на пристигане!
    </p>
    <p *ngIf="form.get('checkinDate').touched && form.get('checkinDate').errors?.dateLaterCurrentValidator" class="error">
      Невалидна дата на пристигане (по-ранна от днешна дата)!
    </p>
    <p *ngIf="form.get('checkoutDate').touched && form.get('checkoutDate').errors?.dateLaterCurrentValidator" class="error">
      Невалидна дата на напускане (по-ранна от днешна дата)!
    </p>
    <p *ngIf="form.get('peopleCount').errors?.min" class="error">
      Броя хора трябва да е минимум 1!
    </p>
    <article class="message" *ngIf="isAvailable !== undefined && isAvailable">
      <div class="message-yes">
        Има свободни места за {{reservationCheck.checkinDate}} - {{reservationCheck.checkoutDate}}/{{reservationCheck.peopleCount}} човека. Продължавате ли към резервация?
      </div>
      <button class="message-btn" routerLink="/huts/{{hutId}}/reservation">ДА</button>
    </article>
    <article class="message" *ngIf="isAvailable !== undefined && !isAvailable">
      <div class="message-no">
        За съжаление няма свободни места за {{reservationCheck.checkinDate}} - {{reservationCheck.checkoutDate}}/{{reservationCheck.peopleCount}} човека. Моля променете датите/броя хора и опитайте пак.
      </div>
    </article>
  </section>
</main>


