main {
  margin-top: 50px;
}

.hut-details {
  margin: 10px 200px;
  box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
  border-radius: 15px;
}

.hut-details h1 {
  text-align: center;
  color: white;
  background-color: #70A18F;
  margin: 0;
  padding: 10px 0;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 24px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img-wrapper img {
  width: 100%;
}

li {
  margin-left: 18px;
}

.hut-details p,table {
  margin: 0 20px;
  border-collapse: collapse;
}

.hut-details table td {
  border: 1px solid darkgrey;
  padding: 0 5px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #70A18F;
  padding: 7px 30px;
  margin: 20px;
  letter-spacing: 1px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
}
