<main>
  <section class="availability-form">
    <div class="heading">
      <h1>{{hutName}}</h1>
      <h3>Детайли за резервация:</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitHandler()">
      <fieldset [disabled]="true">
        <div class="inputs">
          <div class="form-group">
            <label for="checkin-date">Дата на пристигане</label>
            <input type="date" name="checkinDate" id="checkin-date" formControlName="checkinDate">
          </div>
          <div class="form-group">
            <label for="checkout-date">Дата на напускане</label>
            <input type="date" name="checkoutDate" id="checkout-date" formControlName="checkoutDate">
          </div>
          <div class="form-group">
            <label for="people-count">Брой хора</label>
            <input type="number" name="peopleCount" id="people-count" formControlName="peopleCount">
          </div>
          <div class="form-group">
            <label for="phone">Телефон</label>
            <div class="tel-container">
              <select name="select-tel" id="select-tel" class="tel">
                <option value="00359">+359</option>
              </select>
              <input type="text" name="phone" id="phone" formControlName="phone">
            </div>
          </div>
          <div class="form-group">
            <label for="names">Име Фамилия</label>
            <input type="text" name="names" id="names" formControlName="names">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" formControlName="email">
          </div>
        </div>
      </fieldset>
      <div class="buttons">
        <div class="small-buttons">
          <button type="button" class="small-btn" routerLink="/huts/{{reservationDetails?.hutId}}/check">
            ПРОМЕНИ ДАТИТЕ/БРОЯ
          </button>
          <button type="button" class="small-btn" routerLink="/user/profile">
            ПРОМЕНИ ДАННИТЕ В ПРОФИЛА
          </button>
        </div>
        <button>ПОТВЪРДИ РЕЗЕРВАЦИЯ</button>
      </div>
    </form>
  </section>
</main>
